@charset "utf-8";

@import url(' https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap');

/*-----------Basic Reset---------------*/

* {
    margin: 0; 
    padding: 0;
    outline: 0;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: #e0e4e8;
    transition: all 0.25s ease-in-out;
}

li {
    list-style: none;
    padding: 10px;
}

body {
    font-family: "Nunito Sans" , "Open sans" , sans-serif;
    background-color: #14161d;
    font-weight: 500;
}

header {
    background-color: #20222a;
    height: 62px;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
    color: #e1e7ec;
}

h1 {
    color: #3d9eff;
    width: 15%;
    font-size: 24px;
    font-weight: 600;
}

.navbar {
    width: 70%;
}

.profile img {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.profile{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow:hidden;
   
}

.postBox {
    display: flex;
    justify-content: center;
    height: 100%;
}

.input-box {
    background-color: #20222a;
    height: 300px;
    padding: 8px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 600px;
}

.input-box textarea {
    background-color: #20222a;
    resize: none;
    color: #f0f8ff;
    width: 100%;
}

.post-button {
    display: flex;
    align-items: end;
    height: 100%;
    width: 20%;
}

.add-post-button {
    display: flex;
    width: 100%;
    height: 100%;
}
 
.add-post p {
    color: #90969d;
    font-size: 14px;
    margin-left: 9px;
    display: block;
    width: 100%;
}

.add-post {
    display: flex;
    align-items: end;
    width: 8dvb; 
    position: relative;
}

.add-post i {
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
}

.add-post input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #358de5;
    cursor: pointer;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    transition: all 0.25s ease-in-out;
   position: relative;
   left: 400px;
}

.post {
    color: #000;
    border-radius: 4px;
    width: 600px;
    margin-bottom: 25px;
    background-color: #f0f8ff;
    padding: 8px;
    height: auto;
}

.post-top {
    display: flex;
}

.posts-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-pic {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.user-name {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 450px;
}

.current-date {
    font-size: 14px;
    color: rgb(107, 107, 107);
    display: flex;
    align-items: center;
}

.post-content p {
   margin: 20px 0 5px 0;
}

.modal {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
}

.model-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.modal-content {
    border-radius: 5px;
    position: absolute;
    top: 7%;
    left: 77%;
    background-color: #f0f8ff;
    padding: 21px;
}

.modal-content p {
    margin: 6px 0;
}